/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    background-color: #fff;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    font-family: CircularStd-Book;
}

.container{
    margin: 0 150px;
}


h1{
    font-family: CircularStd-Book;
    font-size: 40px;
    color: #000;
    font-weight: normal; 
}

h2{
    font-family: CircularStd-Bold;
    font-size: 32px;
    line-height: 44.8px;
    color: #000;
    letter-spacing: 0;
}

h3{
    font-family: CircularStd-Bold;
    font-size: 20px;
    line-height: 28px;
    color: #000;
    letter-spacing: 0;
}

h4{
    font-family: CircularStd-Bold;
    font-size: 14px;
    color: #000;
    letter-spacing: 0;
}

p{
    font-family: CircularStd-Book;
    font-size: 14px;
    color: #000;
    letter-spacing: 0;
    line-height: 19.6px;
    margin-bottom: 0.5rem;

}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



header{
    margin: 5rem 5rem 3rem;
    transition: 0.3s all ease;


}

li{
    font-size: 12px;
 }

ul{
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding: 2rem 0;

}

footer li{
    padding: 0 2rem;
}

#active-link{
    color: #3385F7;    
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
}


.nav-menu a{
    text-decoration: none;
    color: #000000;
    padding: 0 2rem;

}

.hero-text{
    margin: 0 5rem;
    padding: 0 2rem;
    text-align: left;
            transition: 0.3s all ease;

}

.big-text{
    font-size: 50px;
    line-height: 64px;
    margin: 1rem 0;
            transition: 0.3s all ease;

}

.sub-text{
    font-size: 32px;
    line-height: 44.8px;
    margin: 0.5rem 0;
            transition: 0.3s all ease;

}

.down-text{
    text-align: center;
    margin: 0 auto 1rem;
    padding-top: 2.5rem;
}


.project-text{
    padding: 0 5rem 5rem 5rem;
    margin: 0 5rem;
}


.hero{ 
    margin-bottom:6rem;
}



.hero-banner{
    display: flex;
    height:336px;
    width: 100%;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    text-align:center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.hero-image{
    max-height: 10rem;
    width: auto;

}


.icon-bg{
    background-image: url("../img/parallax-bg-white.png");
    background-size:cover;
    background-position:center;
}

.home-bg{
    background-image: url("../img/bg-home.png");
    background-size:contain;
    background-position:center;
}


.bg{
    background-color: #EEECF5;
}


.chevron{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0.5rem;
}

.portfolio{
    margin: 0 5rem;
    padding: 0.5rem 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.card-container{
    width: 30%;
    transition: .3s all ease;
    margin-bottom: 2.5rem;
}


.card{
    background: #EEECF5;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.22);
}

.card-sub-caption{
    color: #3385F7;
    margin-top: 0.5rem;
}

.card-1{
    height: 200px;
    width:auto;
    max-width: 250px;
    display: block;
    margin: auto;
}

.about-1{
    width: 20%;
    transition: .3s all ease;
    margin-bottom: 2.5rem;
}

.about-3{
    width: 70%;
    transition: .3s all ease;
    margin-bottom: 2.5rem;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  text-align: center;
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover{
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


#scrollTopBtn {
    display: none; 
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    z-index: 99;
    border: none; 
    outline: none;
    cursor: pointer;
}


.about-img{
    max-width: 100%;
    min-width: 200px;
    margin: auto;
    display: block;
}

.icon{
    color: #000;
    font-size: 1rem;
    margin: 0 0.5rem;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1100px) {
    .card-container {
        width: 45%;
        transition: 0.3s all ease;

  }

    .big-text{
    font-size: 40px;
    line-height: 44px;
    margin: 1rem 0;
            transition: 0.3s all ease;

}

    .sub-text{
    font-size: 24px;
    line-height: 30px;
    margin: 0.5rem 0;
            transition: 0.3s all ease;

}

.about-1{
    width: 10%;
    transition: .3s all ease;
    margin-bottom: 2.5rem;
}

.about-3{
    width: 60%;
    transition: .3s all ease;
    margin-bottom: 2.5rem;
}

}

@media only screen and (max-width: 768px) {
    .card-container {
            width: 100%;
            transition: 0.3s all ease;
      }
    .portfolio{
        margin: 0 2.5rem;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        transition: 0.3s all ease;
    }

    header{
    margin: 5rem 2.5rem 3rem;
    transition: 0.3s all ease;

}

ul{
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu a{
    text-decoration: none;
    color: #000000;
    padding: 0 1rem;

}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}


.about-1{
    width: 100%;
    transition: .3s all ease;
}

.about-3{
    width: 100%;
    transition: .3s all ease;
}




    #scrollTopBtn {
    display: none; 
    position: fixed;
    bottom: 5rem;
    right: 0.5rem;
    z-index: 99;
    border: none; 
    outline: none;
    cursor: pointer;
}



    .hero-text{
    margin: 0 2.5rem;
    padding: 0 1rem;
    text-align: left;
            transition: 0.3s all ease;

}

    .big-text{
    font-size: 30px;
    line-height: 30px;
    margin: 1rem 0;
            transition: 0.3s all ease;

}

    .sub-text{
    font-size: 16px;
    line-height: 20px;
    margin: 0.5rem 0;
            transition: 0.3s all ease;

}




    .hvr-grow {
    display: block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
    transform: scale(1.05);


}

.icon{
    color: #000;
    font-size: 0.9rem;
    margin: 0 0.5rem;
}

footer ul{
    display: block;
}

footer li{
    margin: 2rem 0;
}

footer{
    text-align: center;
    height: 5rem;
    padding: 5rem 0;
}


}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
